html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    height: 100%;
    font-family:'Courier New', Courier, monospace;
}

#header {
    display: flex;
    align-items: center;
    background: #222a36;
    color: #dddddd;
    padding: 16px;
}

#header h1 {
    margin: 0px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#calc {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 360px;
    padding: 36px;
    border: 2px solid black;
    border-radius: 16px;
    box-shadow: 5px 3px 10px #222a36;
    background: #3c495e;
}

#calc h2 {
    margin: 0;
    padding: 0;
    color: #ffffff;
}

#display {
    border: 5px #697382 inset;
    padding: 16px 16px;
    margin-bottom: 24px;
    background: #e3f0e1;
}

#display p {
    padding: 0;
    margin: 0;
    color: #0e2900;
}

#current {
    font-size: 24px;
    text-align: right;
}

#operator-btns {
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
}

.operator, #backspace, #clear {
    flex: 1 0 auto;
    height: 48px;
}

.operator {
    flex: 1 0 auto;
}

#backspace, #clear {
    flex: 2 0 auto;
}

#numpad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
}

.num-btn {
    height: 64px;
}

#footer {
    text-align: center;
    background: #222a36;
    color: #dddddd;
}

button {
    border-radius: 8px;
    border-style: ridge;
    background: #dddddd;
}

button:hover {
    box-shadow: 0px 0px 5px #555555 inset;
}

button:active {
    box-shadow: 0px 0px 5px 2px #3c495e inset;
}

button:disabled {
    background: #dddddd;
    box-shadow: none;
}